<?xml version="1.0"?>
<config>
    <modules>
        <Anymarket_Catalog>
            <version>3.0.0</version>
            <depends>
                <Mage_Catalog />
                <Mage_CatalogInventory />
            </depends>
        </Anymarket_Catalog>
    </modules>
    <global>
        <models>
            <catalog>
                <rewrite>
                    <product_attribute_api>Anymarket_Catalog_Model_Product_Attribute_Api</product_attribute_api>
                    <product_attribute_media_api>Anymarket_Catalog_Model_Product_Attribute_Media_Api</product_attribute_media_api>
                    <product_api>Anymarket_Catalog_Model_Product_Api</product_api>     
                    <category_api>Anymarket_Catalog_Model_Category_Api</category_api>
                </rewrite>
            </catalog>
         	<cataloginventory>
                <rewrite>
                	<stock_item_api>Anymarket_Catalog_Model_CatalogInventory_Api</stock_item_api>
                </rewrite>
            </cataloginventory>
            <sales>
            	<rewrite>
            		<order_api>Anymarket_Catalog_Model_Sales_Order_Api</order_api>
            	</rewrite>
            </sales>
        </models>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <sales_order_save_commit_after_handler>
                        <type>singleton</type>
                        <class>Anymarket_Catalog_Model_Observer</class>
                        <method>updateOrderAnyMarketObs</method>
                    </sales_order_save_commit_after_handler>
                </observers>
            </sales_order_save_commit_after>

            <sales_order_place_after>
                <observers>
                    <sales_order_place_after_handler>
                        <type>singleton</type>
                        <class>Anymarket_Catalog_Model_Observer</class>
                        <method>updateOrderAnyMarketObs</method>
                    </sales_order_place_after_handler>
                </observers>
            </sales_order_place_after>

            <catalog_product_save_after>
                <observers>
                    <db1_anymarket>
                        <class>Anymarket_Catalog_Model_Observer</class>
                        <method>sendProdAnyMarket</method>
                    </db1_anymarket>
                </observers>
            </catalog_product_save_after>

            <cataloginventory_stock_item_save_commit_after>
                <observers>
                    <db1_anymarket>
                        <class>Anymarket_Catalog_Model_Observer</class>
                        <method>catalogInventorySave</method>
                    </db1_anymarket>
                </observers>
            </cataloginventory_stock_item_save_commit_after>

        </events>
    </global>
</config>
