<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Anymarket_ApiExtension>
			<version>3.1.0</version>
		</Anymarket_ApiExtension>
	</modules>
	<global>
		<helpers>
			<apiextension>
				<class>Anymarket_ApiExtension_Helper</class>
			</apiextension>
		</helpers>
		<blocks>
			<apiextension>
				<class>Anymarket_ApiExtension_Block</class>
			</apiextension>
		</blocks>
		<models>
			<apiextension>
				<class>Anymarket_ApiExtension_Model</class>
				<resourceModel>apiextension_mysql4</resourceModel>
			</apiextension>
			<apiextension_mysql4>
				<class>Anymarket_ApiExtension_Model_Mysql4</class>
				<entities>
					<anymarketfeed>
						<table>anymarket_feed</table>
					</anymarketfeed>
                    <anymarketorder>
                        <table>anymarket_order</table>
                    </anymarketorder>
				</entities>
			</apiextension_mysql4>
		</models>
		<resources>
			<apiextension_setup>
				<setup>
					<module>Anymarket_ApiExtension</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</apiextension_setup>
			<apiextension_write>
				<connection>
					<use>core_write</use>
				</connection>
			</apiextension_write>
			<apiextension_read>
				<connection>
					<use>core_read</use>
				</connection>
			</apiextension_read>
		</resources>
		<events>
			<sales_order_save_commit_after>
				<observers>
					<sales_order_save_commit_after_handler>
						<type>singleton</type>
						<class>Anymarket_ApiExtension_Model_Observer</class>
						<method>updateOrderAnyMarketObs</method>
					</sales_order_save_commit_after_handler>
				</observers>
			</sales_order_save_commit_after>

			<sales_order_place_after>
				<observers>
					<sales_order_place_after_handler>
						<type>singleton</type>
						<class>Anymarket_ApiExtension_Model_Observer</class>
						<method>updateOrderAnyMarketObs</method>
					</sales_order_place_after_handler>
				</observers>
			</sales_order_place_after>

			<catalog_product_save_after>
				<observers>
					<db1_anymarket>
						<class>Anymarket_ApiExtension_Model_Observer</class>
						<method>sendProdAnyMarket</method>
					</db1_anymarket>
				</observers>
			</catalog_product_save_after>

			<cataloginventory_stock_item_save_commit_after>
				<observers>
					<db1_anymarket>
						<class>Anymarket_ApiExtension_Model_Observer</class>
						<method>catalogInventorySave</method>
					</db1_anymarket>
				</observers>
			</cataloginventory_stock_item_save_commit_after>
		</events>
	</global>
	<admin>
		<routers>
			<apiextension>
				<use>admin</use>
				<args>
					<module>Anymarket_ApiExtension</module>
					<frontName>admin_apiextension</frontName>
				</args>
			</apiextension>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<apiextension module="apiextension">
				<title>Anymarket</title>
				<sort_order>100</sort_order>
				<children>
					<anymarketfeed module="apiextension">
						<title>Feed</title>
						<sort_order>0</sort_order>
						<action>admin_apiextension/adminhtml_anymarketfeed</action>
					</anymarketfeed>
					<anymarketorder module="apiextension">
						<title>Orders</title>
						<sort_order>10</sort_order>
						<action>admin_apiextension/adminhtml_anymarketorder</action>
					</anymarketorder>
				</children>
			</apiextension>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<apiextension translate="title" module="apiextension">
							<title>ApiExtension</title>
							<sort_order>1000</sort_order>
							<children>
								<anymarketfeed translate="title">
									<title>Manage AnymarketFeed</title>
									<sort_order>0</sort_order>
								</anymarketfeed>
								<anymarketorder translate="title">
									<title>Manage Anymarketorder</title>
									<sort_order>10</sort_order>
								</anymarketorder>
							</children>
						</apiextension>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<apiextension>
					<file>apiextension.xml</file>
				</apiextension>
			</updates>
		</layout>
	</adminhtml>
</config>
